@model ClubViewModel
@{
    ViewData["Title"] = "Club";
}

<div class="text-center">
    <h2>@Model.Name</h2>
    <h6>Founded - @Model.FoundedDate.Year</h6>
</div>
<hr />
<div class="text-center">
    <h4>Fixtures</h4>
    <ul class="list-group">
        @foreach (var match in Model.Fixtures)
        {
            <li class="list-group-item">
                @($"{match.Date}")
                |
                <a asp-area="" asp-controller="Club" asp-action="Index">@match.HomeTeam.Name</a>
                -
                <a asp-area="" asp-controller="Club" asp-action="Index">@match.AwayTeam.Name</a>
                |
                @match.Stadium
            </li>
        }
    </ul>
</div>
<hr />
<div class="text-center">
    <h4>Results</h4>
    <ul class="list-group">
        @foreach (var match in Model.Results)
        {
            <li class="list-group-item">
                @($"{match.Date}")
                |
                <a asp-area="" asp-controller="Club" asp-action="Index">@match.HomeTeam.Name</a>
                -
                <a asp-area="" asp-controller="Club" asp-action="Index">@match.AwayTeam.Name</a>
                |
                @match.Stadium
            </li>
        }
    </ul>
</div>
<hr />
<div class="text-center">
    <h4>Players</h4>
    <ul class="list-group">
        @foreach (var player in Model.Players)
        {
            <li class="list-group-item">
                @player
            </li>
        }
    </ul>
</div>