@model IEnumerable<FixturesViewModel>
@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    @foreach (var fixture in Model)
    {
        <h4><a asp-area="" asp-controller="Season" asp-action="Index" asp-route-id="@fixture.SeasonId">@fixture.ChampionshipName</a></h4>
        <br />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Home team</th>
                    <th scope="col">Result</th>
                    <th scope="col">Away team</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var match in fixture.Matches)
                {
                    <tr>
                        <td>@match.PlayedOn</td>
                        <td>@match.HomeTeamName</td>
                        <td>
                            <a asp-area="" asp-controller="Match" asp-action="Index" asp-route-id="@match.MatchId">@match.Result</a>
                        </td>
                        <td>@match.AwayTeamName</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
<br />