@model IEnumerable<TeamPositionViewModel>

@if (TempData.ContainsKey("SuccessMessage"))
{
    <div class="alert alert-success">@this.TempData["SuccessMessage"]</div>
}

<h4>TeamPositions</h4>
<form method="get">
    <button class="btn btn-primary" asp-action="Create">Create</button>
</form>
<br />
<div class="text-center">
    <table class="table">
        <thead>
            <th scope="col">Id</th>
            <th scope="col">Season</th>
            <th scope="col">Club</th>
            <th scope="col">Points</th>
            <th scope="col">Won</th>
            <th scope="col">Drawn</th>
            <th scope="col">Lost</th>
            <th scope="col">GoalsFor</th>
            <th scope="col">GoalsAgainst</th>
            <th scope="col">Actions</th>
        </thead>
        <tbody>
            @foreach (var teamPosition in Model)
            {
                <tr>
                    <th scope="row">@teamPosition.Id</th>
                    <td>@teamPosition.SeasonName</td>
                    <td>@teamPosition.ClubName</td>
                    <td>@teamPosition.Points</td>
                    <td>@teamPosition.Won</td>
                    <td>@teamPosition.Drawn</td>
                    <td>@teamPosition.Lost</td>
                    <td>@teamPosition.GoalsFor</td>
                    <td>@teamPosition.GoalsAgainst</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@teamPosition.Id">Edit</a>
                        |
                        <a asp-action="Delete" asp-route-id="@teamPosition.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>