@model IEnumerable<PlayerViewModel>

@if (TempData.ContainsKey("SuccessMessage"))
{
    <div class="alert alert-success">@this.TempData["SuccessMessage"]</div>
}

<h4>Players</h4>
<form method="get">
    <button class="btn btn-primary" asp-action="Create">Create</button>
</form>
<br />
<div class="text-center">
    <table class="table">
        <thead>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Country</th>
        <th scope="col">Club</th>
        <th scope="col">BirthDate</th>
        <th scope="col">Number</th>
        <th scope="col">Position</th>
        <th scope="col">Goals</th>
        <th scope="col">Yellow cards</th>
        <th scope="col">Red cards</th>
        <th scope="col">Actions</th>
        </thead>
        <tbody>
            @foreach (var player in Model)
            {
                <tr>
                    <th scope="row">@player.Id</th>
                    <td>@player.Name</td>
                    <td>@player.CountryName</td>
                    <td>@player.ClubName</td>
                    <td>@player.BirthDate.ToShortDateString()</td>
                    <td>@player.Number</td>
                    <td>@player.Position</td>
                    <td>@player.Goals</td>
                    <td>@player.YellowCards</td>
                    <td>@player.RedCards</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@player.Id">Edit</a>
                        |
                        <a asp-action="Delete" asp-route-id="@player.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>