@model IEnumerable<RefereeViewModel>

@if (TempData.ContainsKey("SuccessMessage"))
{
    <div class="alert alert-success">@this.TempData["SuccessMessage"]</div>
}

<h4>Referees</h4>
<form method="get">
    <button class="btn btn-primary" asp-action="Create">Create</button>
</form>
<br />
<div class="text-center">
    <table class="table">
        <thead>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Country</th>
        <th scope="col">Birth date</th>
        <th scope="col">Actions</th>
        </thead>
        <tbody>
            @foreach (var referee in Model)
            {
                <tr>
                    <th scope="row">@referee.Id</th>
                    <td>@referee.Name</td>
                    <td>@referee.CountryName</td>
                    <td>@referee.BirthDate.ToShortDateString()</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@referee.Id">Edit</a>
                        |
                        <a asp-action="Delete" asp-route-id="@referee.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>