@model SeasonDetailsViewModel
@{
    ViewData["Title"] = "Season";
    var tableIndex = 1;
}

<div class="text-center">
    <h4>@Model.FullName</h4>
    <h6>@Model.Country</h6>
    <br />
    @if (Model.Table.Any())
    {
        <h5>Table</h5>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Team</th>
                    <th scope="col">Points</th>
                    <th scope="col">Won</th>
                    <th scope="col">Drawn</th>
                    <th scope="col">Lost</th>
                    <th scope="col">GF</th>
                    <th scope="col">GA</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var teamPosition in Model.Table)
                {
                    <tr>
                        <th scope="row">@(tableIndex++)</th>
                        <td>@teamPosition.TeamName</td>
                        <td>@teamPosition.Points</td>
                        <td>@teamPosition.Won</td>
                        <td>@teamPosition.Drawn</td>
                        <td>@teamPosition.Lost</td>
                        <td>@teamPosition.GoalsFor</td>
                        <td>@teamPosition.GoalsAgainst</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
